<div class="mb-3">

  <h1>--Nueva Venta</h1>
  <form class="mt-3 col-md-8 offset-md-2"  (ngSubmit)= "toGuardarVenta()" [formGroup]="ventaForm" >
  
    <div class="mb-3 row">
      <label for="formFile" class="col-sm-2 col-form-label">Id</label>
      <div class="form-group col-md-6">
          <input type="text" class="form-control" id="readOnlyInput" placeholder="Solo lectura Id" readonly="" formControlName="idVenta">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cliente</h5>
            <select formControlName="idCliente"  class="form-control">
              <option [ngValue]="null" disabled>Elige un cliente</option>
              <option *ngFor="let clienteListar of listadoClientes" [ngValue]="clienteListar.idCliente">
                {{ clienteListar.nombreCompleto}}
              </option>
              </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Vendedor </h5>
            <select  class="form-control"   formControlName="idVendedor">
              <option [ngValue]="null" disabled>Elige un Vendedor</option>
              <option *ngFor="let vendedorListar of listadoVendedores" [ngValue]="vendedorListar.idVendedor">
                {{ vendedorListar.nombreCompleto}}
              </option>
              </select>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col"><h1><span class="label label-default">Total</span></h1></div>
      <div class="col">b</div>
      <div class="col"><h1><span class="label label-default">Precio C/U</span></h1></div>
      <div class="col">d</div>
    </div>

        <!-- aqui debo agregar el detalle de la venta-->
    <div class="form-group" >
        <a class="btn btn-primary" (click)= "agregarDetalle()">Agregar Detalle De Venta</a>
    </div>   
    <div class="form-row" style="border-style: ridge; border-width: 2px;" formArrayName = "detalle"
     *ngFor="let detallesVenta of detalle.controls; let i = index;">
      <div class="form-group col-md-6">
         <label [attr.for]= "'cantidad' + i" >Cantidad</label>
         <input [attr.id] = "'cantidad' + i" type="text" class="form-control" formControlName="cantidad">
      </div>
      <div class="col-sm-6">
        <div >
          <div class="card-body">
            <h5 class="card-title">Producto</h5>
             <select  formControlName="idProducto"  class="form-control">
              <option [ngValue]="null" disabled>Elige un Producto</option>
              <option  *ngFor="let productoListar of listadoProductos" [ngValue]="productoListar">
                {{ productoListar.nombre}}
              </option>
              </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label [attr.for]= "'descuento' + i" class="col-md-2 control-label" >Descuento</label>
          <input [attr.id]= "'descuento' + i" class="form-control"  type="text" formControlName="descuento">
        </div>
        <div class="row">
          
          <div class="col-sm-6">
            <div >
              <div class="card-body">
                <button type="button" class="btn btn-danger pull-left" (click)= "removerDetalle(i)">Remover</button>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
    <br/>
      <!-- finaliza detalle venta-->
        <div >
      <button  type="submit" id="save"  class="btn btn-success btn-block text-light">Guardar</button>
      </div>
  
  </form>
    <button class="btn btn-primary btn-sm m-1" (click)= "toList()">Volver a la lista</button>
  
</div>

