<h1>Bienvenido al Perfil de Administración</h1>
<hr>
<ul class="list-group">

  <li class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive= "active">
  <a  [routerLink]="['/listadoCliente']" >Clientes</a>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive= "active">
    <a [routerLink]="['/listado']">Proveedores</a>
   </li>

   <li class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/listadoVendedores']">Vendedores</a>
   </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/listadoCategorias']">Categorias de Productos</a>
   </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/listadoProductos']">Productos</a>
   </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/listadoVentas']">Ventas</a>
   </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
    <a [routerLink]="['/listadoUsuario']">Usuarios</a>
   </li>

</ul>


