<h1 mat-dialog-title>Nueva Venta</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Cliente</mat-label>
    <input matInput [(ngModel)]="venta.idCliente" >
  </mat-form-field>
  <form [formGroup] = "detalleForm" (ngSubmit)="addDetalle()">
    <mat-form-field>
      <mat-label>Producto</mat-label>
      <input type="text" formControlName="idProducto" matInput placeholder= "Producto">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input type="number" formControlName="cantidad" matInput placeholder= "Cantidad">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input type="number" formControlName="precio" matInput placeholder= "Precio">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descuento</mat-label>
      <input type="number" formControlName="descuento" matInput placeholder= "Descuento">
    </mat-form-field>
    <div>
      <button type="submit" [disabled]="!detalleForm.valid" mat-raised-button>
        <i class="bi bi-bag-plus"></i>
      </button>
    </div>
  </form>
<div>
  <h5>Detalles</h5>
      <table style="width: 100%;">
    <tr>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Descuento</th>
    </tr>
    <tr *ngFor="let item of detalle">
      <td>{{item.cantidad}}</td>
      <td>{{item.precio}}</td>
      <td>{{item.descuento}}</td>

    </tr>
      </table>
</div>
</div>
<div mat-dialog-actions>
<button (click)="close()">Cancelar</button>
<button mat-raised-buttom color="primary" (click)="addVenta()">Guardar</button>
</div>
