<div class="brand_color">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>Nuestros Productos</h2>
              </div>
          </div>
      </div>
  </div>

</div>
<!-- our product -->
<div class="product">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">

               <span>Empaquetamos los productos con los mejores servicios para que sea un cliente feliz.</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="product-bg">
   <div class="product-bg-white">
   <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p1.png"/></i>
            <h3>TENIS STAN SMITH</h3>
            <span>$271.992</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p2.png"/></i>
            <h3>Zapato Formal Camel</h3>
            <span>$180.00</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p3.png"/></i>
            <h3>Pin en Eapadrilles</h3>
            <span>$250.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p4.png"/></i>
            <h3>TENIS STAN SMITH/colores</h3>
            <span>$271.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p5.png"/></i>
            <h3>Zapato Casual</h3>
            <span>$150.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p2.png"/></i>
            <h3>Zapato Formal</h3>
            <span>$200.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p6.png"/></i>
            <h3>Fasucol jackson </h3>
            <span>$350.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
         <div class="product-box">
            <i><img src="assets/icon/p7.png"/></i>
            <h3>Zapato plataforma Dama</h3>
            <span>$125.000</span>
         </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="product-box">
           <i><img src="assets/icon/p5.png"/></i>
           <h3>Zapato Casual</h3>
           <span>$150.000</span>
        </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
      <div class="product-box">
         <i><img src="assets/icon/p3.png"/></i>
         <h3>Pin en Eapadrilles</h3>
         <span>$250.000</span>
      </div>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
    <div class="product-box">
       <i><img src="assets/icon/p1.png"/></i>
       <h3>TENIS STAN SMITH</h3>
       <span>$271.992</span>
    </div>
 </div>
 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
  <div class="product-box">
     <i><img src="assets/icon/p2.png"/></i>
     <h3>Zapato Formal</h3>
     <span>$200.000</span>
  </div>
</div>
      </div>
   </div>
