<div class="card mt-2" style="width: 100vh">
  <div class="card-header">
    detalles del Cliente
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text-uppercase">No.# : {{venta.idVenta}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Fecha : {{venta.tipoComprobante}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Fecha : {{venta.numeroComprobante}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Fecha : {{venta.fecha}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Descuent : {{venta.impuesto}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase">Precio Final : {{venta.Total}}</p>
      </li>

    </ul>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-outline-warning btn-sm m-1" (click)= "toEditarVenta()">Editar</button>
    <button class="btn btn-outline-danger btn-sm m-1 " (click)= "toDeleteVenta()">Borrar</button>
  </div>
</div>
<br>
<button class="btn btn-primary btn-sm m-1" (click)= "toList()">Volver a la lista</button>



