<div class="container mt-3">

  <div class="card">
    <div class="card-header">
      <h1>Modulo de  <span class="badge bg-secondary">Ventas</span></h1>
    </div>
    <div class="card-body col">
        <h5 class="card-title">Listado de ventas</h5>
        <p class="card-text">Atención al generar una venta y los detalles de la misma</p>
        <div class="btn-group col" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
          <label class="btn btn-outline-primary" (click)="toNuevoVenta()" for="btncheck1">Nueva Venta</label>
        
          <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
          <label class="btn btn-outline-primary" [routerLink]="['/nuevoClientes']" for="btncheck2">Nuevo Cliente</label>
        
          <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
          <label class="btn btn-outline-primary" [routerLink]="['/dashboard']" for="btncheck3">Abandonar Modulo</label>
        </div>
     </div>
  </div>
  
<table datatable class="row-border hover table-striped table-bordered">
<thead class="thead-dark">
  <tr>
    <th scope="col">No.#</th>
    <th scope="col">Fecha</th>
    <th scope="col">Impuesto</th>
    <th scope="col">Total</th>
    <th scope="col">Tipo Comprobante</th>
    <th scope="col">Numero Comprobante</th>
    <th scope="col">Acciones</th>

  </tr>
</thead>
<tbody>
  <tr  *ngFor="let venta of  listadoVentas;">
    <th scope="row">{{venta.idVenta}}</th>
    <td type="date">{{venta.fecha}}</td>
    <td>{{venta.impuesto}}</td>
    <td>{{venta.total}}</td>
    <td>{{venta.tipoComprobante}}</td>
    <td>{{venta.numeroComprobante}}</td>

    <td class="btn-group" role="group">
      <button type="button" class="btn btn-outline-info m-1" (click)="toVerVenta(venta)">Mostrar</button>
    </td>
  </tr>

</tbody>
</table>
</div>



