<div class="brand_color">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>Conócenos</h2>
              </div>
          </div>
      </div>
  </div>

</div>


<div class="about">
<div class="container">
<div class="row">
   <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="about_box">
         <figure><img src="assets/images/pc_layout.png"/></figure>
      </div>
   </dir>
    <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="about_box">
         <h3>Quien es Comercializadora Cúcuta</h3>
         <p>Ha nacido como una necesidad de llegar nuestro calzado innovador a todas aquellas personas que deseen vestir sus pies con lindos y elegantes zapatos</p>
         <p>nos esforzamos para que su experiencia con nosotros sea única y de esa forma poder formar parte del mercado a nivel nacional por medio de la recomendación efectiva.</p>
      </div>
   </dir>
</div>
</div>
</div>

<!-- CHOOSE  -->
<div class="whyschose">
  <div class="container">

     <div class="row">
        <div class="col-md-7 offset-md-3">
           <div class="title">
              <h2>Por qué <strong class="black">elegirnos</strong></h2>
              <span>¡El servicio de calzado más rápido al mejor precio!</span>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="choose_bg">
  <div class="container">
     <div class="white_bg">
     <div class="row">
        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/1.png"/></i>
              <h3>Privacidad de datos</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </dir>
        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/2.png"/></i>
              <h3>Entrega Domicilio </h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </dir>
        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/3.png"/></i>
              <h3>Plataforma Mobile</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </dir>
        <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
           <div class="for_box">
              <i><img src="assets/icon/4.png"/></i>
              <h3>Soporte</h3>
              <p>Perspiciatis eos quos totam cum minima autPerspiciatis eos quos</p>
           </div>
        </dir>
        <div class="col-md-12">
           <a class="read-more">Leer más</a>
        </div>
     </div>
  </div>
</div>
</div>
<!-- end CHOOSE -->


<!-- service -->
<div class="service">
  <div class="container">
     <div class="row">
        <div class="col-md-8 offset-md-2">
           <div class="title">
              <h2>Servicios/ <strong class="black">Procesos</strong></h2>
              <span>Manera fácil y efectiva de adquirir su calzado</span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service1.png"/></i>
              <h3>Servicio Rapido</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service2.png"/></i>
              <h3>Pagos Seguros</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service3.png"/></i>
              <h3>Equipo De Expertos</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service4.png"/></i>
              <h3>Servicios asequibles</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service5.png"/></i>
              <h3>90 días de garantía</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="service-box">
              <i><img src="assets/icon/service6.png"/></i>
              <h3>Galardonado</h3>
              <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end service -->
